<html>
    <head>
    </head>
    <body>
    {%- for fp in jsonFloorPlans["floorPlans"] %}
        <svg width="{{fp["width"]}}" height="{{fp["height"]}}" >
            <image xlink:href="/static/image-{{fp["id"]}}.png" width="{{fp["width"]}}" height="{{fp["height"]}}"/>
            {% for ap in jsonAccessPoints["accessPoints"] -%}
            {% if ap["location"] is defined -%}
            {% if ap["location"]["floorPlanId"] == fp["id"] -%}
            <circle id="{{ap["id"]}}" class="accessPoint" cx="{{ap["location"]["coord"]["x"]}}" cy="{{ap["location"]["coord"]["y"]}}" r="5" stroke="black" stroke-width="3" fill="green"><Title>{{ap["name"]}}</Title></circle>
            {% endif -%}
            {% endif -%}
            {%- endfor -%}
        </svg>
    {%- endfor %}
    </body>
    <script>
        var classname = document.getElementsByClassName("accessPoint");

     var myFunction = function() {
         var request = new XMLHttpRequest();
         request.open('POST', '/blink', true);
         request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
         request.send(this.id);

         alert(this.id);
        //var attribute = this.getAttribute("data-myattribute");
        //alert(attribute);
        };

        for (var i = 0; i < classname.length; i++) {
        classname[i].addEventListener('click', myFunction, false);
        }
    </script>
</html>
